body, p, h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
}
p {
  line-height: 1.6rem;
}

body {
  max-height: 100vh;
  font-family: 'M PLUS 1p', sans-serif;
}
nav {
  font-style: normal;
  line-height: 50px;
}
.nav-container > nav > ul {
  list-style-type: none;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.logo-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container > nav > ul {
  list-style-type: none;
}
.nav-ul {
  display: flex;
  max-width: 700px;
}
.nav-ul > li {
  display: flex;
}
.nav-link {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  flex: 1;
  transition: 200ms;
}
.nav-ul li a:hover {
  color: #afafaf;
}
.logo {
    padding: 1rem;
    height: 3rem; 
    width: 6.975rem;
}
@media screen and (max-width: 700px) {

  .nav-container {
    flex-direction: column;
    text-align: center;
  }

  .menu-button {
    padding: 15px;
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .nav-ul {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    direction: rtl;
    transition: max-height 400ms;
    max-height: 80vh;
  }

  .hide-ul {
    max-height: 0;
  }

  .nav-link {
    padding: 1rem 0;
    font-size: 1.3rem;
    border-bottom: 1px solid #f4f4f4;
  }
}
/* DESKTOP MENU */
@media screen and (min-width: 701px) {

  .menu-button {
    display: none;
  }

  .nav-link {
    flex-basis: auto;
    padding: 1rem 1.5rem;
  }
}

/* This moves the logo so that it's not touching the left side */
@media screen and (max-width: 1040px) {
  .nav-logo {
    margin-left: 1rem;
  }
}
/* END DESKTOP MENU */
.jumbotron {
    height: 100%;
    min-height: 75vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/creekimg/creek005.jpg");
}
.jumbotron-text {
  color: white;
  text-align: center;
  font-size: 2rem;
  text-shadow: 1px 1px 2px black;
  line-height: 2.5rem;
  overflow-wrap: break-word;
}
#jumbo-title {
  text-shadow: 1px 1px 2px black;
  color: white;
  font-size: 5rem;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #afafaf;
    padding: 1rem 1rem;
}
.social {
  padding: 1rem 1rem;
}
.footer-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer-link {
  text-decoration: none;
  color: black;
  padding: 1rem 1rem;
}
.cr {
  padding: 1rem 1rem;
}
.recent_news {
  padding: 1.5rem;
  margin: auto;
  width: 75%;
  max-width: 700px;
}
#news-title {
  text-align: center;
}
.news_blurp {
  padding: 1.25rem;
}
.intro {
  margin: auto;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.subtitle {
  font-size: 3rem;
}
.info {
  min-width: 200px;
  flex: 1;
  padding: 15px;
}
.info-img {
  padding: 10px 0rem;
  margin: auto;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .label, .input, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .collapsible {
    display: flex;
  }
  .beer-des {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
}
@media screen and (min-width: 801px) {

  .collapsible {
    display: none;
  }
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}
.active, .collapsible:hover {
  background-color: #ccc;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.beer-menu-title {
  margin: auto;
  text-align: center;
  padding: 20px;
}
/*Beer card*/
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
}
.beer-card {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  height: auto;
  border-radius: 10%;
  height: 1000px;
  width: 1000px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card-wrapper {
  text-align: center;
  padding: 15px;
  border-radius: 5%;
  max-width: 270px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#beer-size {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  width: 250px;
  padding: 20px;
}
.beer-icon-wrapper {
  margin: auto;
  text-align: center;
}
.glass-icon-wrapper {
  margin: auto;
}
.label-beer {
  margin: auto;
  text-align: center;
}
.glass-icon {
  width: 100%;
  height: auto;
  max-height: 100px;
  max-width: 50px;
  margin: auto;
}
#card_1 {
  background-image: url(/creekimg/antihero.jpg);
  margin: auto;
}
#card_2 {
  background-image: url(/creekimg/industrial-arts-wrench-industrial-arts-wrench_1_square.jpg);
  margin: auto;
}
#card_3 {
  background-image: url(/creekimg/barbaricworks_logo1-1024x1024.png.webp);
  margin: auto;
}
.tag {
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.text2 {
  padding-top: 10px;
}
.large-card {
  margin: auto;
  text-align: center;
  padding: 15px;
  flex: 1 1 calc(33.33% - 30px);
}
.beer-text {
  padding-top: 10px;
}

/* CONTACT PAGE */
.title {
  text-align: center;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
}
#contact-info, #contact-form {
  margin: 30px;
}
#submit {
  margin: auto;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.label {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.input {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}