body, p, h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
}
p {
  line-height: 1.6rem;
}

body {
  max-height: 100vh;
  font-family: 'M PLUS 1p', sans-serif;
}
nav {
  font-style: normal;
  line-height: 50px;
}
.nav-container > nav > ul {
  list-style-type: none;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.logo-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container > nav > ul {
  list-style-type: none;
}
.nav-ul {
  display: flex;
  max-width: 700px;
}
.nav-ul > li {
  display: flex;
}
.nav-link {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  flex: 1;
  transition: 200ms;
  border-bottom: 5px solid white;
}
.nav-ul li a:hover {
  color: #afafaf;
  border-bottom: 5px solid grey;
}
.active-desktop {
  border-bottom: 5px solid grey;
}
.logo {
    padding: 1rem;
    height: 3rem; 
    width: 6.975rem;
}
@media screen and (max-width: 700px) {

  .nav-container {
    flex-direction: column;
    text-align: center;
  }

  .menu-button {
    padding: 15px;
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .nav-ul {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    direction: rtl;
    transition: max-height 400ms;
    max-height: 80vh;
  }

  .hide-ul {
    max-height: 0;
  }

  .nav-link {
    padding: 1rem 0;
    font-size: 1.3rem;
    border-bottom: 1px solid #f4f4f4;
  }
}
/* DESKTOP MENU */
@media screen and (min-width: 701px) {

  .menu-button {
    display: none;
  }

  .nav-link {
    flex-basis: auto;
    padding: 1rem 1.5rem;
  }
}

/* This moves the logo so that it's not touching the left side */
@media screen and (max-width: 1040px) {
  .nav-logo {
    margin-left: 1rem;
  }
}
/* END DESKTOP MENU */
.jumbotron {
    height: 100%;
    min-height: 75vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url("/creekimg/creek005.jpg");
}
.jumbotron-text {
  color: white;
  text-align: center;
  font-size: 2rem;
  text-shadow: 1px 1px 2px black;
  line-height: 2.5rem;
  overflow-wrap: break-word;
}
#jumbo-title {
  text-shadow: 1px 1px 2px black;
  color: white;
  font-size: 5rem;
}
.jumbotron-button {
  margin-top: 20px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  background-color: gray;
  color: white;
  padding: 20px;
  border-radius: 30px;
}
/*footer*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #afafaf;
    padding: 1rem 1rem;
}
.social {
  padding: 1rem 1rem;
}
.footer-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer-link {
  text-decoration: none;
  color: black;
  padding: 1rem 1rem;
}
.cr {
  padding: 1rem 1rem;
}
/*news*/
.recent_news {
  padding: 1.5rem;
  margin: auto;
  width: 75%;
  max-width: 700px;
}
#news-title {
  text-align: center;
}
.news_blurp {
  padding: 1.25rem;
}
.intro {
  margin: auto;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.subtitle {
  font-size: 3rem;
  padding-bottom: 20px;
}
.info {
  min-width: 200px;
  flex: 1;
  padding: 15px;

}
.info-img {
  margin: auto;
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.intro-text {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: calc(0.5em + 0.6vw);
  line-height: 1.5em;
}
@media (max-width: 700px) {
  .intro-text {
    font-size: 18px;
    line-height: normal;
  }
}
.intro-button {
  background-color: #0f6eb8;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: white;
  border-radius: 10px;
  height: 50px;
  width: 150px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .label, .input, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .collapsible {
    display: flex;
  }
  .beer-des {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
}
@media screen and (min-width: 801px) {

  .collapsible {
    display: none;
  }
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}
.active, .collapsible:hover {
  background-color: #ccc;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.beer-menu-title {
  margin: auto;
  text-align: center;
  padding: 20px;
  font-size: 46px;
}
/*Beer card*/
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
}
.beer-card {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  height: auto;
  border-radius: 10%;
  height: 1000px;
  width: 1000px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card-wrapper {
  text-align: center;
  padding: 15px;
  border-radius: 5%;
  max-width: 270px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#beer-size {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  width: 250px;
  padding: 20px;
}
.beer-icon-wrapper-half {
  margin: auto;
  text-align: center;
  padding-top: 25px;
}
.beer-icon-wrapper {
  margin: auto;
  text-align: center;
}
.glass-icon-wrapper {
  margin: auto;
}
.label-beer {
  margin: auto;
  text-align: center;
}
.glass-icon-half {
  width: 100%;
  height: auto;
  max-height: 75px;
  max-width: 37.5px;
  margin: auto;
}
.glass-icon {
  width: 100%;
  height: auto;
  max-height: 100px;
  max-width: 50px;
  margin: auto;
}
#card_1 {
  background-image: url(/creekimg/antihero.jpg);
  margin: auto;
}
#card_2 {
  background-image: url(/creekimg/industrial-arts-wrench-industrial-arts-wrench_1_square.jpg);
  margin: auto;
}
#card_3 {
  background-image: url(/creekimg/barbaricworks_logo1-1024x1024.png.webp);
  margin: auto;
}
.tag {
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.text2 {
  padding-top: 10px;
  line-height: 140%;
}
.large-card {
  margin: auto;
  text-align: center;
  padding: 30px;
  flex: 1 1 calc(33.33% - 60px);
}
.beer-text {
  padding-top: 10px;
}
.beer-price {
  line-height: 200%;
}
/* CONTACT PAGE */
.title {
  text-align: center;
  padding: 20px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  height: 100%;
}
#contact-info, #contact-form {
  margin: 30px;
  width: 100%;
  max-width: 800px;
}
#contact-info p {
  text-align: center;
}
#submit {
  margin: auto;
}
input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
textarea {
  min-height: 200px;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* info display*/
.full-view-container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px 20px;
}
.left {
  flex: 1;
  margin: 20px;
}
.right {
  flex: 1;
  margin: 20px;
}
.intro-text-wrapper {
  max-width: 800px;
}
#first {
  background: white;
}
#second {
  background: #95b7db;
}
.info-img {
  
  height: auto;
  display: block;
  margin: auto;
}
.intro-beer-menu-link {
  margin-top: 20px;
  text-decoration: none;
  text-align: center;
  display: block;
  text-align: center;
  background-color: #95b7db;
  color: white;
  padding: 15px;
  border-radius: 30px;
  font-size: calc(0.5em + 1vw);
}
.intro-beer-menu-link:hover {
  background-color: lightslategray;
}
@media screen and (max-width: 700px) {
  .full-view-container {
      height: auto;
      flex-direction: column;
  }
  .intro-beer-menu-link {
    font-size: 20px;
  }
  .info-img {
    max-width: calc(100% - 5vh);
  }
}
/*Access*/
.directions {
  width: 600px;
}